* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --primary-color: #2947A9;
    --font: 'Work Sans', sans-serif;
}
html{
    font-size: 16px;
    background-color: #fff;
    font-family: var(--font);
}
.grid{
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
  margin-block-start: 0;
    margin-block-end: 0;
}
.btn{
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding: 16px 20px;
  border: 2px solid;
  border-radius: 6px;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: #fff;
}