.hero {
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.hero__img {
  width: 100%;
  height: auto;
  z-index: -1;
}

.hero__text {
  position: absolute;
  margin-left: 112px;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
  color: #292e3d;
  max-width: 556px;
}

.hero__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1.9%;
  right: 0;
  text-align: center;
  background-color: #3559c7;
  border-radius: 2px 2px 0 0;
}

.hero__feature--info {
  color: #fff;
  max-width: 312px;
}

.hero__feature--info__froject {
  margin: 20px auto;
  font-size: 20px;
  font-weight: 700;
}

.hero__feature--info__name {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 26px;
}

.hero__feature--btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: #fff;
}

.hero__feature--btn__back {
    border-right: 1px solid #fff;
}

.hero__feature--btn__next {
}
.hero__feature--btn__back,
.hero__feature--btn__next {
  display: flex;
  padding: 11.5px 64.5px;
  font-size: 18px;
  gap: 0 10px;
}
a {
  text-decoration: none;
  color: #fff;
}
