.header{
    position: relative;
    background-color: $primary-color;
    color: #fff;
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0 26px;
    }
    &__line{
        position: absolute;
        width: 1440px;
        left: 0;
    }
    &__hero{
        margin-top: 105px;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
}
.nav{
    &__select{
        font-family: $secondary-text;
        display: flex;
        align-items: center;
        gap: 0 50px;
    }
    &__item{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: calc(30/18);
        color: rgba(250, 245, 239, 0.5);
        &:hover{
            color: #fff;
            list-style: disc;
        }
    }
}
.hero{
    &__content{
        max-height: 630px;
    }
    &__title{
        font-family: $primary-text;
        font-weight: 400;
        font-size: 8.2rem;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #FAF5EF;
        max-width: 724px;
        span{
            opacity: 0;
        }
    }
    &__line{
        margin: 68px 0 47px calc(409px - 170px);
    }
    &__lorem{
        margin-left: calc(409px - 170px);
        font-weight: 400;
        font-size: 2.0rem;
        line-height: 1.5;
        color: #FFFFFF;
        opacity: 0.6;
        max-width: 397px;
        font-family: $secondary-text;
    }
}